global
    maxconn 50000

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:8080              
    default_backend nginx_backends

backend nginx_backends
    balance roundrobin
    server nginx1 127.0.0.1:8081 check
    server nginx2 127.0.0.1:8082 check
